/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/** Start Vanilla CSS 1.0.2  */
body { font: 9pt/1.5em sans-serif; }

pre, code, tt { font: 1em/1.5em 'Andale Mono', 'Lucida Console', monospace; }

h1, h2, h3, h4, h5, h6, b, strong { font-weight: bold; }

em, i, dfn { font-style: italic; }

dfn { font-weight: bold; }

p, code, pre, kbd { margin: 0 0 1.5em 0; }

blockquote { margin: 0 1.5em 1.5em 1.5em; }

cite { font-style: italic; }

li ul, li ol { margin: 0 1.5em; }

ul, ol { margin: 0 1.5em 1.5em 1.5em; }

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

ol ol { list-style: upper-alpha; }

ol ol ol { list-style: lower-roman; }

ol ol ol ol { list-style: lower-alpha; }

dl { margin: 0 0 1.5em 0; }

dl dt { font-weight: bold; }

dd { margin-left: 1.5em; }

table { margin-bottom: 1.4em; width: 100%; }

th { font-weight: bold; }

th, td, caption { padding: 4px 10px 4px 5px; }

tfoot { font-style: italic; }

sup, sub { line-height: 0; }

abbr, acronym { border-bottom: 1px dotted; }

address { margin: 0 0 1.5em; font-style: italic; }

del { text-decoration: line-through; }

pre { margin: 1.5em 0; white-space: pre; }

img.centered, .aligncenter, div.aligncenter { display: block; margin-left: auto; margin-right: auto; }

img.alignright { display: inline; }

img.alignleft { display: inline; }

.alignright { float: right; margin-left: 10px; }

.alignleft { float: left; margin-right: 10px; }

img { max-width: 100%; }

* html .clearfix { height: 1%; }

* + html .clearfix { display: inline-block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

* html .group { height: 1%; }

* + html .group { display: inline-block; }

.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }


$fontColor: rgb(214, 214, 214);

@mixin fs30
{
  font-size: 30px;
  line-height: 1.1;
}

@mixin fs20
{
  font-size: 20px;
  line-height: 1.2;
}

@mixin fs16
{
  font-size: 16px;
  line-height: 1.47;
}

.container {
  padding: 0 15px;
  max-width: 1000px;
  margin: auto;
}

body, select, textarea, input {
  font-family: "Poppins", sans-serif;
}

body {
  background: #1F1F1F;
  color: #fff;
}

h1
{
  @include fs30;
}

h2
{
  @include fs20;
}

*
{
  box-sizing: border-box;;
}

#main-row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
  @media all and (min-width: 1025px)
  {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  margin: -15px;

  .one-column {
    padding: 15px;


    &:nth-child(1) {
      width: 33.3%;
      flex: 33.3%;
      min-width: 33.3%;
      max-width: 33.3%;
    }

    &:nth-child(2) {
      width: 66.6%;
      flex: 66.6%;
      min-width: 66.6%;
      max-width: 66.6%;
    }
  }

  .one-column-content {
    padding: 15px;
    border-radius: 10px;
    @media all and (min-width: 1025px)
    {
      padding: 30px;
      border-radius: 20px;
    }
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255,255,255,0.15);


  }
}